<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Personal Loan Agreement from URLoan has been e-signed and is available for download</title>
<link rel="stylesheet" type="text/css" href="styles.css" />
</head>

<body itemscope itemtype="http://schema.org/EmailMessage">

<table class="body-wrap">
    <tr>
        <td></td>
        <td class="container" width="600">
            <div class="content">
              <span class='titleText'>Signature Confirmation</span>
                <table class="main" width="100%" cellpadding="0" cellspacing="0" itemprop="action" itemscope itemtype="http://schema.org/ConfirmAction">
                    <tr>
                        <td class="content-wrap">
                            <meta itemprop="name" content="Confirm Email"/>
                            <table width="100%" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td class="content-block">
                                        The document Personal Loan Agreement from URLoan has been securely e-signed and can be downloaded.
                                        <BR><BR>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="content-block" itemprop="handler" itemscope itemtype="http://schema.org/HttpActionHandler">
                                        <a href="$LINK_URL;" class="btn-primary" itemprop="url">View/Download Document</a>
                                    </td>
                                </tr>
																<tr>
                                    <td class="content-block"><BR>
																		<p>The securely e-signed documents are available for you to download by clicking on the button above. Please ensure you download the document for your records. </p>
                                    <p>If you cannot view this document or encounter an error, please contact e-signature support toll free at 1-800-769-ESIGN.</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <div class="footer">
                    <table width="100%">
												<tr>
													<td colspan="2" >
														<span class='docuServices'>Document signing services provided by:</span>
													</td>
												</tr>
                        <tr>
                            <td valign='top' class="alignleft content-block logo-block"><a href="http://www.lendesk.com"><img class='lendesk-logo' alt='LENDESK' style='  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; font-weight: bold; font-size: 18px; color:#0187d1;' src='images/logo_small_blue.png'></a></td>
                            <td valign='bottom' class='alignright'><div class='bottomTagLine'>Lending Simplified<BR><a href="http://www.lendesk.com">www.lendesk.com</a></div></td>
                        </tr>
                    </table>
                </div></div>
        </td>
        <td></td>
    </tr>
</table>

</body>
</html>
